node_modules
.next
.next-e2e
.next-optimization
.vercel/
out
.env*
!.env.example
coverage
*.zip
!app/**/manufacturing.zip/
*.tsbuildinfo
install.log
.playwright-mcp/
.e2e/
%SystemDrive%/
artifacts/
supabase/.temp/
